body{
margin:0;
background:#0f1115;
color:white;
font-family:system-ui;
}

.container{
max-width:500px;
margin:auto;
min-height:100vh;
padding-bottom:70px;
}


.header{
background:#111;
padding:15px;
text-align:center;
}

.logo{
height:50px;
}


.filter-bar{
padding:10px;
background:#111;
display:flex;
gap:10px;
position:sticky;
top:0;
z-index:10;
}

.search{
flex:1;
padding:10px;
border-radius:8px;
border:none;
background:#222;
color:white;
}


select{
padding:10px;
background:#222;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}



.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:12px;
padding:12px;
}


.card{
background:#171a21;
padding:10px;
border-radius:12px;
cursor:pointer;
}

.card img{
width:100%;
height:130px;
object-fit:cover;
border-radius:8px;
}

.price{
color:#ff4081;
font-weight:bold;
}


.section{
display:none;
padding:12px;
}


.btn{
background:#ff4081;
border:none;
padding:12px;
width:100%;
border-radius:8px;
color:white;
margin-top:10px;
cursor:pointer;
}


.bottom{
position:fixed;
bottom:0;
width:100%;
max-width:500px;
display:flex;
background:#111;
border-top:1px solid #222;
}

.bottom div{
flex:1;
text-align:center;
padding:15px;
cursor:pointer;
}


.avatar{
width:100px;
height:100px;
border-radius:50%;
object-fit:cover;
}


.cart-item{
background:#171a21;
padding:10px;
margin-top:10px;
border-radius:8px;
display:flex;
justify-content:space-between;
}


.qty-box{
display:flex;
gap:10px;
align-items:center;
margin:10px 0;
}


.qty-btn{
padding:5px 10px;
background:#333;
border:none;
color:white;
border-radius:4px;
cursor:pointer;
}


.logout{
background:#333;
}


.menu{
float:right;
cursor:pointer;
font-size:24px;
}
