body{

font-family:Arial;
padding:20px;

}

.card{

border:1px solid #ddd;
padding:10px;
margin:10px;

}


#header{
background:#ff4d8d;
color:white;
padding:15px;
text-align:center;
}

#content{
padding:15px;
height:80vh;
overflow:auto;
}

#nav{
position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px;
box-shadow:0 -2px 5px rgba(0,0,0,0.1);
}

