body{
background:black;
color:white;
font-family:Arial;
text-align:center;
padding-top:80px;
}

.logo{
width:150px;
margin-bottom:20px;
}

button{

width:220px;
padding:14px;
margin:10px;

background:#ff4081;
color:white;
border:none;
border-radius:8px;

font-size:16px;
}

input,select{

width:220px;
padding:12px;
margin:10px;

border-radius:8px;
border:none;

}

.hidden{
display:none;
}
