body{

font-family:Arial;
margin:0;

}

.header{

background:#ff4081;
color:white;
padding:15px;

display:flex;
justify-content:space-between;

}

.container{

display:flex;

}

.left{

width:200px;
background:#eee;
padding:10px;

}

.left button{

display:block;
width:100%;
margin:10px 0;
padding:10px;

}

.right{

flex:1;
padding:20px;

}

.hidden{

display:none;

}

input{

display:block;
margin:10px 0;
padding:10px;
width:300px;

}
