body{

font-family: Arial;
margin:0;
background:#f5f5f5;

}

header{

background:black;
padding:15px;
text-align:center;

}

.logo{

height:60px;

}

.auth-box{

background:white;
width:90%;
max-width:400px;
margin:50px auto;
padding:20px;
border-radius:10px;

}

input, select{

width:100%;
padding:10px;
margin-top:10px;

}

button{

width:100%;
padding:12px;
margin-top:10px;
background:#ff4d6d;
color:white;
border:none;
border-radius:5px;

}