body{

font-family: Arial;

margin:0;

background:#f5f5f5;

}

.header{

background:black;

padding:15px;

text-align:center;

}

.logo{

height:50px;

}

.auth-container{

background:white;

margin:30px;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:5px;

border:1px solid #ccc;

}

.btn{

width:100%;

padding:12px;

margin:5px 0;

background:#ff4081;

color:white;

border:none;

border-radius:5px;

font-size:16px;

}