body{
margin:0;
font-family:Arial;
background:white;
}


.screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
}


.center{
text-align:center;
}


.hidden{
display:none;
}


.logo{
width:220px;
margin-bottom:20px;
}


.title{
color:#ff4081;
font-size:32px;
margin:0;
}


.tagline{
color:#555;
margin-bottom:30px;
}


.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,0.1);
width:100%;
max-width:350px;
}


.input{
width:100%;
padding:14px;
margin:10px 0;
border-radius:8px;
border:1px solid #ddd;
font-size:16px;
}


.btn-main{
width:100%;
padding:14px;
background:#ff4081;
color:white;
border:none;
border-radius:8px;
margin-top:10px;
font-size:16px;
}


.btn-outline{
width:100%;
padding:14px;
border:2px solid #ff4081;
color:#ff4081;
background:white;
border-radius:8px;
margin-top:10px;
font-size:16px;
}


.link{
color:#ff4081;
margin-top:12px;
cursor:pointer;
}