body{

font-family:Arial;

background:#f4f4f4;

text-align:center;

margin:0;

}


.logo{

width:120px;

margin-top:50px;

}


.center{

margin-top:50px;

}


.card{

background:white;

margin:20px;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}


.input{

width:90%;

padding:12px;

margin:10px;

border-radius:6px;

border:1px solid #ccc;

}


.btn-main{

background:#ff4081;

color:white;

border:none;

padding:12px;

width:90%;

margin:10px;

border-radius:6px;

font-size:16px;

}


.btn-outline{

background:white;

color:#ff4081;

border:2px solid #ff4081;

padding:12px;

width:90%;

margin:10px;

border-radius:6px;

}


.link{

color:#ff4081;

cursor:pointer;

}


.hidden{

display:none;

}