.intro{

text-align:center;

margin-top:100px;

}

.intro-logo{

width:120px;

}

.tagline{

color:gray;

margin-bottom:20px;

}

.main-btn{

background:#ff4081;

color:white;

border:none;

padding:15px;

width:80%;

margin:10px;

border-radius:8px;

font-size:18px;

}

.main-btn-outline{

background:white;

color:#ff4081;

border:2px solid #ff4081;

padding:15px;

width:80%;

margin:10px;

border-radius:8px;

font-size:18px;

}

.auth-box{

background:white;

margin:30px;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.link{

color:#ff4081;

margin-top:10px;

}