body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}


.screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}


.center{
text-align:center;
}


.hidden{
display:none;
}


.app-icon{
width:120px;
}


.logo{
width:200px;
margin-bottom:20px;
}


.brand{
color:#ff4081;
}


.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:90%;
max-width:350px;
}


.input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}


.btn-main{
width:100%;
padding:12px;
background:#ff4081;
color:white;
border:none;
border-radius:6px;
margin-top:10px;
font-size:16px;
}


.btn-outline{
width:100%;
padding:12px;
border:2px solid #ff4081;
color:#ff4081;
background:white;
border-radius:6px;
margin-top:10px;
}


.link{
color:#ff4081;
margin-top:10px;
cursor:pointer;
}