body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:black;
padding:10px;
text-align:center;
}

.logo{
width:200px;
}

.hero{
text-align:center;
padding:20px;
}

.login{
padding:20px;
}

input{
display:block;
margin:10px 0;
padding:10px;
width:90%;
}

button{
padding:10px;
margin:5px;
background:green;
color:white;
border:none;
}

.flower{
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}