body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

.header {
  background: black;
  padding: 15px;
  text-align: center;
}

.logo {
  width: 200px;
}

.hero {
  text-align: center;
  padding: 40px;
}

.hero h1 {
  color: #ff4d8d;
}

button {
  padding: 12px 25px;
  background: green;
  color: white;
  border: none;
  font-size: 16px;
}

.flowers {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}